@media screen and (max-width: 584px) {
   .contenido {
      width: 90%;


   }

   .label {width: fit-content;}
   .btn-form{ justify-self: left;
    margin:auto;
    padding: auto;
    
   }
   .textarea{
      margin-bottom: 15px;
   }

   footer{
    font-size: 22px;
   }
   
   .p-jumbotron{
      font-size: 13px;
   }
}
@media screen and (max-width: 768px) {
   .contenido {
      width: 90%;


   }

   .label {width: fit-content;}
   .btn-form{ justify-self: left;
    margin:auto;
    padding: auto;
    
   }
   .textarea{
      margin-bottom: 15px;
   }

   footer{
      margin-top: 100px;
      position: sticky;
      left: 0;
      bottom: 0;
      width: 100%;
   }

}

@media screen and  (max-width: 1440px) {
   footer{
      margin-top: 35%;
      position: sticky;
      left: 0;
      bottom: 0;
      width: 100%;
   }
}